._expand_menu{
  background-color: #364150;

  a{
    color: #8f97a3;

    &:hover{
      text-decoration: none;
    }
  }

  ul{
    padding: 0px;

    li{
      list-style-type:none;
      cursor: pointer;
      position: relative;
      padding: 0px;
    }

    &.submenu li{
      padding: 5px 0px;
      padding-left: 20px;
      color: #B4BCC8;

      &:hover, &.active{
        a{
          color: white;
        }

        //background-color: #89c9ab;
        background-color: #3E4B5C;
      }
    }
  }


  ._icon{
    padding: 0px 10px;
  }

  .menu_item{
    border-top:1px solid #475563;
    padding: 5px 0px;
    display:block;
  }

  .sub_item{
    display:block;
  }

  //.opened_submenu{
  //  background-color: #89afba;
  //}
}


._expand_menu ul.submenu{
  padding:0px;
}


._expand_menu .menu_item:hover{
  background-color: #2C3542;
  color: #A7BCAE;
}

._expand_menu .menu_item.selected{
  background-color: #1CAF9A;
  color: white;
}
._expand_menu .left-arrow{
  position: absolute;
  right:0px;
  border-top:12px solid transparent;
  border-bottom:12px solid transparent;
  border-right: 12px solid white;
}
.expand-transition {
  transition: max-height .3s ease;

}